body{
    display: flex;
    background:blueviolet;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.button-container{
    display: grid;
    background:peachpuff;
    height: 375px;
    width: 300px;
    grid-template-columns: 75px 75px 75px 75px;
    grid-template-rows: 75px 75px 75px 75px 75px;
    padding: 10px;
}
.display{
    display: flex;
    width: 300px;
    height: 75px;
    background: grey;
    flex-direction: column;
    padding: 10px;
}
.display-bottom{
    width: 100%;
    height: 100%;
    background:khaki;
    border: 2px solid black;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: right;
}
.display-top{
    width: 100%;
    height: 100%;
    background: blue;
}